#PATHs for TeX Live DVD Installation
export PATH=/usr/local/texlive/{{ latex_texlive.texlive.version }}/bin/x86_64-linux:$PATH
export MANPATH=/usr/local/texlive/{{ latex_texlive.texlive.version }}/texmf-dist/doc/man:$MANPATH
export INFOPATH=/usr/local/texlive/{{ latex_texlive.texlive.version }}/texmf-dist/doc/info:$INFOPATH
